* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: normal 1.2rem 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.pagewrap {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

section {
  margin: 1rem 0 3rem;
}

h1 {
  font-size: 1.6rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.combined {
  width: 100%;
}

fieldset {
  border: 0;
  padding: 0.5rem;
  background-color: #dcdcdc;
}

label {
  display: block;
  margin: 0.5rem;
}

label span {
  font-size: 1.2rem;
  display: block;
  min-width: 6rem;
}

input, button, select {
  font-size:1.2rem;
  border: 0;
}

button {
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  line-height: 1.0;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
}

button::after {
  content: '×';
}

.converted {
  padding: 0.5rem;
  background-color: #d2d2d2;
}

.converted .rate {
  font-size: 0.9rem;
}


@media only screen and (min-width:361px) {
  label span {
    display: inline-block;
  }

  .small-screen-only {
    display: none;
  }
}
